<section class="customer-purchase-container">
  <div class="header-details">
    <h1>Customer purchases</h1>
    <div class="search-container">
      <form role="search">
        <label>Search for:</label>
        <input
          type="search"
          placeholder="Customer name"
          aria-label="Search"
          #searchInputElement
          [formControl]="searchInput"
          (keydown.enter)="preventPageReloadOnEnter($event)"
        />
      </form>
    </div>
  </div>

  <div class="customer-details">
    <h4>Name:</h4>
    <h4 class="highlighted-values customer-name">Dummy name</h4>
    <h3>Number of purchased items:</h3>
    <div class="number">
      <h3 class="highlighted-values purchased-number">3456</h3>
    </div>
  </div>
</section>
