.dashboard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 80rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(187, 187, 187);
  padding: 0.3rem 0.2rem;
  background-color: white;
}

img {
  margin: 1rem 1rem 0 1rem;
  max-width: 90%;
}

.sales-person-container {
  grid-column: span 3;
}

.monthly-sales-container {
  grid-column: span 3;
}

.report-container {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 1rem;
  margin: 1.4rem 2rem 0.7rem 2rem;
  border-top: 1px solid #ddd;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-one);
}

span {
  display: flex;
  justify-content: center;
  padding-top: 1.2rem;
}

@media (max-width: 1360px) {
  .dashboard-container {
    display: grid;
    max-width: 65rem;
  }

  .sales-person-container {
    grid-column: span 3;
  }

  .monthly-sales-container {
    grid-column: span 3;
  }

  .customer-purchase-container {
  }

  .title-container {
  }
}

@media (max-width: 1120px) {
  .dashboard-container {
    display: grid;
    max-width: 50rem;
  }

  .sales-person-container {
    max-height: 30rem;
  }

  .monthly-sales-container {
    max-height: 30rem;
  }

  .customer-purchase-container {
  }

  .title-container {
  }
}
