<div class="dashboard-container">
  <ng-container *ngIf="salesPersonDetails$ | async as salesPersons">
    <app-sales-person
      [salesPersonsDetails]="salesPersons"
      (sortByCondition)="setSortCondition($event)"
    ></app-sales-person>
  </ng-container>

  <ng-container *ngIf="unitsSoldPerMonth$ as soldUnits">
    <app-monthly-sales [soldUnitsPerMonth]="soldUnits"></app-monthly-sales>
  </ng-container>

  <ng-container *ngIf="customerMonthlyPurchases$ | async as purchases">
    <app-customer-purchases
      [customerPurchaseList]="purchases"
    ></app-customer-purchases>
  </ng-container>
</div>
