<section class="dashboard-container">
  <div class="title-container">
    <img [src]="image" alt="AwsomePharmaLogo" />
    <div class="report-container">
      <h1>Sales Report - 2018</h1>
    </div>
  </div>
  <ng-container *ngIf="salesPersonDetails$ | async as salesPersons">
    <app-sales-person
      class="sales-person-container"
      [salesPersonsDetails]="salesPersons"
      (sortByCondition)="setSortCondition($event)"
    ></app-sales-person>
  </ng-container>

  <ng-container *ngIf="unitsSoldPerMonth$ as soldUnits">
    <app-monthly-sales
      [soldUnitsPerMonth]="soldUnits"
      class="monthly-sales-container"
    ></app-monthly-sales>
  </ng-container>
  <ng-container *ngIf="customerMonthlyPurchases$ | async as purchases">
    <app-customer-purchases
      [customerPurchaseList]="purchases"
      class="customer-purchase-container"
    ></app-customer-purchases>
  </ng-container>
</section>
