<section
  class="dashboard-container"
  *ngIf="aggregatedData$ | async as aggregatedData"
>
  <div class="title-container">
    <img [src]="image" alt="AwsomePharmaLogo" />
    <div class="report-container">
      <h1>Sales Report</h1>
    </div>
  </div>

  <app-sales-person
    class="sales-person-container"
    [salesPersonsDetails]="salesPersonDetails$ | async"
    (sortByCondition)="setSortCondition($event)"
  ></app-sales-person>

  <app-monthly-sales
    [soldUnitsPerMonth]="aggregatedData.soldUnitsPerMonth"
    class="monthly-sales-container"
  ></app-monthly-sales>

  <app-customer-purchases
    [customerPurchaseList]="aggregatedData.purchasedNumbersByCustomer"
    class="customer-purchase-container"
  ></app-customer-purchases>
</section>
