.monthly-sales-container {
  background-color: white;
  min-height: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(187, 187, 187);
  padding: 0.3rem 0.2rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 1.4rem 2rem 0.7rem 2rem;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-weight: 500;
}

.canvas-container {
  display: flex;
  padding: 0 2rem 2rem;
}

canvas {
  max-height: 20rem;
}

@media (max-width: 1380px) {
  canvas {
    max-height: 15rem;
  }

  h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 1120px) {
  .canvas-container {
    display: flex;
    max-height: 17rem;
    padding-bottom: 1rem;
  }

  canvas {
    max-height: 15rem;
  }

  .header-section {
    margin-top: 0.5rem;
  }

  h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 890px) {
  .monthly-sales-container {
    min-height: 90%;
  }

  .canvas-container {
    display: flex;
    max-height: 25rem;
  }

  canvas {
    max-height: 25rem;
  }

  .canvas-container {
    padding-bottom: 0.5rem;
  }

  .header-section {
    margin-top: 0.5rem;
  }

  h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  .monthly-sales-container {
    min-height: 90%;
  }

  .header-section {
    margin: 0.5rem 1rem 0 1rem;
  }

  h1 {
    font-size: 0.8rem;
  }

  .canvas-container {
    display: flex;
    padding: 0 1rem;
    min-height: 15rem;
  }

  canvas {
    font-size: 0.6rem;
    min-height: 15rem;
  }
}

@media (max-width: 370px) {
  .canvas-container {
    display: flex;
    padding: 0 1rem;
    min-height: 8rem;
  }

  canvas {
    font-size: 0.6rem;
    height: 8rem;
  }
}
