.monthly-sales-container {
  background-color: white;
  min-height: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(187, 187, 187);
  padding: 0.3rem 0.2rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 1.4rem 2rem 0.7rem 2rem;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-weight: 500;
}

.canvas-container {
  display: flex;
  padding: 0 2rem 2rem;
}

canvas {
  max-height: 20rem;
}
