.sales-person-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(187, 187, 187);
  padding: 0.3rem 0.2rem;
}

.sales-person-details {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 1.4rem 2rem 0.7rem 2rem;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-weight: 500;
}

.sort-container {
  display: flex;
  gap: 0.5rem;
}

.sort-text {
  display: flex;
  height: 100%;
  align-items: center;
}

select {
  border-radius: 20px;
  padding: 5px;
  border: 1px solid var(--color-one);
}

select:hover {
  cursor: pointer;
}

select:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 3px var(--color-one, 0.8);
  outline: none;
}

.table-container {
  padding: 0 2rem 2rem;
}

mat-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

mat-header-row {
  color: white;
  background: linear-gradient(to bottom, var(--color-two), var(--color-one));
}

.mat-column-index {
  max-width: 14%;
}

.mat-column-personName {
  flex: 0 0 32%;
}

mat-table mat-row {
  border-left: 1px solid var(--color-one);
  border-right: 1px solid var(--color-one);
  border-bottom: 1px solid var(--color-one);
}

mat-table mat-row:hover {
  background-color: rgb(240, 240, 240);
}

mat-cell {
  color: rgb(41, 41, 41);
  font-weight: 500;
  font-size: 1rem;
}

mat-header-cell {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

mat-header-cell:first-child {
  width: 5rem;
}

@media (max-width: 1380px) {
  h1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 1120px) {
  h1 {
    font-size: 1.1rem;
  }
  .table-container {
    padding-bottom: 1rem;
  }
  .sales-person-details {
    margin-top: 0.5rem;
  }
  mat-table {
    max-height: 10rem;
  }
  mat-header-cell {
    max-height: 0.5rem;
    font-size: 1rem;
  }
  mat-header-row {
    min-height: 2.8rem;
  }
  mat-row {
    min-height: 2.5rem;
  }
  mat-cell {
    font-size: 0.9rem;
  }
}
@media (max-width: 890px) {
  .mat-column-personName {
    flex: 0 0 40%;
  }
  .mat-column-index {
    max-width: 12%;
  }
  mat-header-cell {
    font-size: 0.8rem;
  }
  mat-cell {
    font-size: 0.8rem;
  }
}

@media (max-width: 720px) {
  .mat-column-personName {
    flex: 0 0 45%;
  }
}
