<section class="sales-person-container">
  <div class="sales-person-details">
    <h1>Top 3 salesperson</h1>
    <h3></h3>
    <div class="sort-container">
      <p class="sort-text">Sort by:</p>
      <form action="" [formGroup]="sortForm" (change)="onChangeSortCondition()">
        <select name="condition" id="select" formControlName="sortCondition">
          <option [value]="'revenue'">Revenue</option>
          <option [value]="'numberOfItems'">Number of sold items</option>
        </select>
      </form>
    </div>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="salesPersonsDetails">
      <ng-container matColumnDef="index">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Top</mat-header-cell>
        <mat-cell *matCellDef="let row; index as i">
          {{ salesPersonsDetails.indexOf(row) + 1 + "." }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="personName">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          {{ row.personName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.personId }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="revenue">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Revenue</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          {{ row.totalRevenue }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfItems">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Number of sold items</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          {{ row.totalItemsSold }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay()"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay()"></mat-row>
    </mat-table>
  </div>
</section>

<!-- <table>
  <tr>
    <th>Person ID</th>
    <th>Name</th>
    <th>
      {{ sortByRevenue ? "Revenue" : "Number of Items Sold" }}
    </th>
  </tr>
  <tr *ngFor="let salesP of salesPersonsDetails">
    <td>{{ salesP.personId }}</td>
    <td>{{ salesP.personName }}</td>
    <td>{{ sortByRevenue ? salesP.totalRevenue : salesP.totalItemsSold }}</td>
  </tr>
</table> -->
